# Node modules
node_modules/

# Environment file
# .env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

bin/
obj/

# Ignore all DLLs (optional, usually bin/ is enough)
*.dll
*.exe
# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS and editor-specific files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
